.tab-content {
    padding-top: 2%;
    box-shadow: 1px 1px 8px #999;
    border: none;
}

.nav-tabs {
    border-bottom: 1px solid #472F91;
    .nav-link {
        cursor: pointer;
    }
    .nav-link.active, .nav-item.show .nav-link {
        background: #472F91;
        color: #fff;
    }
    .nav-link, .nav-link:hover, .nav-link:focus {
        border-color: #472F91 #472F91 #ccc;
        margin: 0 5px;
    }
}
