.clear {
    clear: both;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.form-control {
    border-radius: 0.5em;
}
.padding-bottom-3 {
    padding-bottom: 3%;
}
app-input {
    width: 100%;
}

.padding-left-0 {
    padding-left: 0;
}
