<!-- <form [formGroup]="inputForm">
    <div class="form-group">
      <div class="">
        <label class="view-label" for="sel1">F4-{{data.displayName}}<span class="mandatory-span" *ngIf="data.optional">*</span>:</label>
        <select class="form-control" [ngClass]="{'is-invalid': isFieldValid(data.fieldName)}" (change)="onChange()" [formControlName]="data.fieldName"
          id="sel1">
          <option *ngFor="let option of options" [value]="option.key">{{option.value ? option.value : option.key}}
          </option>
           <div class="clearfix" *ngFor="let option of options">
            <label class="container1 radio-inline" >
              <span>{{option.value}}</span>
              <input type="checkbox" name="optradio" [value]="option.key">
              <span class="checkmark"></span>
            </label>
          </div> 
        </select>
      </div>
    </div>
  </form> -->