<form [formGroup]="formGroup">
  <div class="row border-bottom">
    <div class="col-md-8 form-group">
      <h3 for="exampleSelect1">Material Views</h3>
    </div>
    <div class="col-md-4 form-group">
      <select class="form-control" id="exampleSelect1" formControlName="viewName" (change)="createUserView()">
        <option [disabled]="true" value="">Select</option>
        <option *ngFor="let item of viewsList" [value]="item.configId">{{item.configName}}</option>
      </select>
    </div>
  </div>
  <div *ngFor="let key of veiwArray; let index = index;">
    <div [ngSwitch]="key">
      <div class="row" *ngSwitchCase="'fields'">
        <div class="spacing-inputfields col-md-12">
          <app-component-panel [form]="formGroup" [answers]="configAnswers" [fieldList]="createViewJSON[key]"></app-component-panel>
        </div>
      </div>
      <app-accordion *ngSwitchCase="'accordions'" [answers]="configAnswers" [panels]="createViewJSON[key]" [isAdmin]="false"
        [form]="formGroup">
      </app-accordion>
      <app-tabs *ngSwitchCase="'tabs'" [answers]="configAnswers" [tabList]="createViewJSON[key]" [isAdmin]="false"
        [form]="formGroup"></app-tabs>
    </div>
  </div>
</form>
<div class="col-md-12 button-padding float-right">
  <button type="button" class="btn btn-primary float-right" (click)="cancel()">Cancel</button>
  <button type="button float-right" *ngIf="isShow" class="btn btn-primary float-right" (click)="saveView()">Save</button>
</div>
<app-loader [showLoader]="showLoader"></app-loader>