.padding-button {
    float: left;
    padding-top: 30px;
}

.font-size {
    font-size: 16px;
}
.header-border {
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
}

.capitalize {
    text-transform: capitalize;
}
a {
    cursor: pointer;
}